@import './_variables.scss';

#__nuxt,
#__layout {
    height: 100%;
}

.inner {
    display: block;
    max-width: 100%;
    width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
    height: inherit;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    color: #333;
    transition: all 0.3s;
    &:hover {
        color: $brand-green;
    }
}
.text-center,
.text-center * {
    text-align: center;
}

.border-below {
    position: relative;
    padding-bottom: 20px;
    &:after {
        content: '';
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 40px;
        height: 3px;
        background-color: #000;
        position: absolute;
    }
}