$brand-black:       #111111;
$brand-grey:        #222222;
$brand-green:       #2ecc71;

$pts:               'PT Serif', serif;
$mont:               'Montserrat', serif;

$paragraph:         1.2em;


.paragraph {
    font-size: $paragraph;
    line-height: 1.8em;

    @media(max-width: 600px) {
       font-size:  1em;
    }
}